*.tlog
*.obj
*.suo
*.pdb
*.metagen
*.exe
*.ilk
*.idb
*.log
*.lastbuildstate
*.ipch
*.sdf
*.opendb
*.pch
*.opensdf
*.sdf
*.aip
*.vspx
*.db
*.psess
*.exp
*.amplxeproj
*.vcxproj.user
.vs/
Release/RepulsionPak.lib
Debug/RepulsionPak.lib
